* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    background-color: #1d2026;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.header__menu {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.header__menu::-webkit-scrollbar {
    display: none;
}

.menu {
    display: flex;
}

.menu__item {
    flex: 0 0 auto;
}

.menu__link {
    color: #a4aead;
    font-family: 'Open Sans', sans-serif;
    border: solid 2px transparent;
    border-radius: 5px;
}

.menu__link:hover {
    color: #a4aead;
    border: solid 2px #a4aead44;
}

.search__box {
    position: relative;
    width: 195px;
    height: 30px;
}

.search {
    width: 100%;
    height: 100%;
    font-weight: 600;
    border: solid 2px #a4aead44;
    border-radius: 5px;
    background: none;
    color: white;
    text-transform: uppercase;
}

.search::placeholder {
  color: #a4aead;
}

.search__btn {
    position: absolute;
    top: 6px;
    right: 10px;
    background: none;
    border: none;
}

.search__box {
    display: none;
}

.logo {
    display: flex;
    justify-content: center;
}
